@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;

  @apply bg-almostWhite;
}

p {
  font-size: 18px;
}

.menu-item {
  @apply text-mediumGray hover:text-almostBlack with-transition;
}

.with-transition {
  @apply ease-linear duration-200;
}
